#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#preloader .video {
    position: relative;
    width: 100%;
    height: 100vh;
}

#preloader .loader {

    position: absolute;
    top: 45%;
    width: 120px;
    height: 120px;
    z-index: 1001;

}

#preloader .loader span {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));

}

#preloader .loader span::before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fffeff;
    animation: animate 1s linear infinite;
    animation-delay: calc(0.01s * var(--i));

}

@keyframes animate {
    0% {
        transform: scale(1);
    }

    80%,
    100% {
        transform: scale(0);
    }
}

.loader {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 0.8;
    }
}